WpfCliente/Connected Services/ServidorDescribelo/WcfServicioLibreria.Modelo.Excepciones.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServicioLibreria.Modelo.Excepciones" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServicioLibreria.Modelo.Excepciones" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServidorFalla">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstaRemitenteDesconectado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServidorFalla" nillable="true" type="tns:ServidorFalla" />
  <xs:complexType name="BaseDatosFalla">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsGamertagDuplicado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseDatosFalla" nillable="true" type="tns:BaseDatosFalla" />
  <xs:complexType name="VetoFalla">
    <xs:sequence>
      <xs:element minOccurs="0" name="EnProgreso" type="xs:boolean" />
      <xs:element minOccurs="0" name="EsPermanete" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VetoFalla" nillable="true" type="tns:VetoFalla" />
</xs:schema>