WpfCliente/Connected Services/ServidorDescribelo/WcfServicioLibreria.Modelo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServicioLibreria.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServicioLibreria.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServicioLibreria.Enumerador" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="Amigo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServicioLibreria.Enumerador" minOccurs="0" name="Estado" type="q1:EstadoAmigo" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UltimaConexion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Amigo" nillable="true" type="tns:Amigo" />
  <xs:complexType name="Usuario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UsuarioContexto">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContraseniaHASH" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EsInvitado" type="xs:boolean" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="FotoUsuario" nillable="true" type="q2:Stream" />
          <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="UsuarioContexto">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="UsuarioContexto" nillable="true" type="tns:UsuarioContexto" />
  <xs:complexType name="SolicitudAmistadFalla">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExisteAmistad" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExistePeticion" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudAmistadFalla" nillable="true" type="tns:SolicitudAmistadFalla" />
  <xs:complexType name="ArrayOfSolicitudAmistad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolicitudAmistad" nillable="true" type="tns:SolicitudAmistad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolicitudAmistad" nillable="true" type="tns:ArrayOfSolicitudAmistad" />
  <xs:complexType name="SolicitudAmistad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Remitente" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudAmistad" nillable="true" type="tns:SolicitudAmistad" />
  <xs:complexType name="InvitacionPartida">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoSala" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreEmisor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreReceptor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvitacionPartida" nillable="true" type="tns:InvitacionPartida" />
  <xs:complexType name="UsuarioFalla">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstaConectado" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExisteUsuario" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioFalla" nillable="true" type="tns:UsuarioFalla" />
  <xs:complexType name="ChatMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="HoraFecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChatMensaje" nillable="true" type="tns:ChatMensaje" />
  <xs:complexType name="ConfiguracionPartida">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServicioLibreria.Enumerador" minOccurs="0" name="Condicion" type="q3:CondicionVictoriaPartida" />
      <xs:element minOccurs="0" name="NumeroRondas" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServicioLibreria.Enumerador" minOccurs="0" name="Tematica" type="q4:TematicaPartida" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfiguracionPartida" nillable="true" type="tns:ConfiguracionPartida" />
  <xs:complexType name="EstadisticasPartida">
    <xs:sequence>
      <xs:element minOccurs="0" name="Jugadores" nillable="true" type="tns:ArrayOfJugadorEstadisticas" />
      <xs:element minOccurs="0" name="PrimerLugar" nillable="true" type="tns:JugadorEstadisticas" />
      <xs:element minOccurs="0" name="SegundoLugar" nillable="true" type="tns:JugadorEstadisticas" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServicioLibreria.Enumerador" minOccurs="0" name="Tematica" type="q5:TematicaPartida" />
      <xs:element minOccurs="0" name="TercerLugar" nillable="true" type="tns:JugadorEstadisticas" />
      <xs:element minOccurs="0" name="TotalRondas" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadisticasPartida" nillable="true" type="tns:EstadisticasPartida" />
  <xs:complexType name="ArrayOfJugadorEstadisticas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JugadorEstadisticas" nillable="true" type="tns:JugadorEstadisticas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJugadorEstadisticas" nillable="true" type="tns:ArrayOfJugadorEstadisticas" />
  <xs:complexType name="JugadorEstadisticas">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Puntos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JugadorEstadisticas" nillable="true" type="tns:JugadorEstadisticas" />
  <xs:complexType name="Estadistica">
    <xs:sequence>
      <xs:element minOccurs="0" name="PartidasAnimalesJugadas" type="xs:int" />
      <xs:element minOccurs="0" name="PartidasEspacioJugadas" type="xs:int" />
      <xs:element minOccurs="0" name="PartidasGanadas" type="xs:int" />
      <xs:element minOccurs="0" name="PartidasJugadas" type="xs:int" />
      <xs:element minOccurs="0" name="PartidasMitologiaJugadas" type="xs:int" />
      <xs:element minOccurs="0" name="PartidasMixtaJugadas" type="xs:int" />
      <xs:element minOccurs="0" name="PartidasPaisesJugadas" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estadistica" nillable="true" type="tns:Estadistica" />
  <xs:complexType name="ImagenCarta">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdImagen" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="ImagenStream" nillable="true" type="q6:MemoryStream" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImagenCarta" nillable="true" type="tns:ImagenCarta" />
</xs:schema>