WpfCliente/Connected Services/ServidorDescribelo/WcfServicioLibreria.Enumerador.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServicioLibreria.Enumerador" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServicioLibreria.Enumerador" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="EstadoUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Desconectado" />
      <xs:enumeration value="Conectado" />
      <xs:enumeration value="Disponible" />
      <xs:enumeration value="EnSala" />
      <xs:enumeration value="EnPartida" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EstadoUsuario" nillable="true" type="tns:EstadoUsuario" />
  <xs:simpleType name="EstadoAmigo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Conectado" />
      <xs:enumeration value="Desconectado" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EstadoAmigo" nillable="true" type="tns:EstadoAmigo" />
  <xs:simpleType name="CondicionVictoriaPartida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PorCartasAgotadas" />
      <xs:enumeration value="PorCantidadRondas" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CondicionVictoriaPartida" nillable="true" type="tns:CondicionVictoriaPartida" />
  <xs:simpleType name="TematicaPartida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Mixta" />
      <xs:enumeration value="Animales" />
      <xs:enumeration value="Paises" />
      <xs:enumeration value="Mitologia" />
      <xs:enumeration value="Espacio" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TematicaPartida" nillable="true" type="tns:TematicaPartida" />
</xs:schema>