WpfCliente/Connected Services/ServidorDescribelo/WcfServicioLibreria.Modelo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServicioLibreria.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServicioLibreria.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ChatUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="DireccionIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreHospedador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChatUsuario" nillable="true" type="tns:ChatUsuario" />
  <xs:complexType name="ArrayOfChatUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChatUsuario" nillable="true" type="tns:ChatUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChatUsuario" nillable="true" type="tns:ArrayOfChatUsuario" />
  <xs:complexType name="ChatMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="HoraFecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:ChatUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChatMensaje" nillable="true" type="tns:ChatMensaje" />
  <xs:complexType name="ArrayOfChatMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChatMensaje" nillable="true" type="tns:ChatMensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChatMensaje" nillable="true" type="tns:ArrayOfChatMensaje" />
</xs:schema>